* {
    background-color: black;
}

#title {
    color: whitesmoke;
    font-family: 'Courier New', monospace;
    font-weight: 900;
}

.r_link {
    color: yellow;
    font-family: 'Courier New', monospace;
}