* {
    background-color: black;
}

#title {
    color: black;
    background-color: white;
    font-family: 'Courier New', monospace;
    font-weight: 900;
}

.r_link {
    color: yellow;
    font-family: 'Courier New', monospace;
}

.body {
    color: yellow;
    font-family: 'Courier New', monospace;
}

.body.heading {
    color: whitesmoke
}